In [1]:
print("this is my print")

this is my print

In [2]:
l= [324,45,45,45]

In [3]:
len(l)

4

In [4]:
type(l)

list

In [6]:
def test():
    pass

In [7]:
def test1():
    print("this is my very very first function")

# no output is found then call test1()

In [8]:
test1()

this is my very very first function

In [9]:
test1() + 'sudh' #print give nonetype

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

# test1() does not give string that's why str is not concatenate

In [10]:
def test2():
    return "this is my very first return"

In [11]:
test2() #test2() gives string because of return

'this is my very first return'

In [13]:
test2() + ' sudh'

'this is my very first return sudh'

In [14]:
def test3():
    return "sudh","kumar",23, 45.67, [1,2,3]

In [15]:
test3() #return in tuples

('sudh', 'kumar', 23, 45.67, [1, 2, 3])

In [16]:
a,b,c,d,e = test3()

In [17]:
a

'sudh'

In [18]:
d

45.67

In [19]:
e

[1, 2, 3]

In [20]:
a = 1
b = 4

In [21]:
a,b= 1,4 # this is also write

In [22]:
def test4():
    a = 5+6/7
    return a

In [23]:
test4()

5.857142857142857

In [24]:
def test5(a,b,c):
    d = a+b/c
    return d

In [25]:
test5() # values should be input by user

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [26]:
test5(2,5,8)

2.625

In [27]:
def test6(a,b):
    return a+b

In [28]:
test6(3,4)

7

In [29]:
test6("sudh","kumar")

'sudhkumar'

In [30]:
test6([1,2,3,4],[4,5,6])

[1, 2, 3, 4, 4, 5, 6]

In [31]:
l = [1,2,3,4,"sudh","kumar",[1,2,3,4,5,6]]

#write a code to extract int

In [32]:
l1=[]
for i in l:
    if type(i)==int or type(i)==float :
        l1.append(i)

l1

[1, 2, 3, 4]

#write this program thorough function

In [33]:
def test7():
    l1 = []
    for i in l:
        if type(i)==int or type(i)==float :
            l1.append(i)
    return l1

In [34]:
l1

[1, 2, 3, 4]

#write the function to extract int float and list into list int float

In [35]:
def test8(a):
    l=[]
    for i in a:
        if type(i)==list:
            for j in i:
                l.append(j)
        else :
            if type(i)==int or type(i)==float :
                l.append(i)
                
    return l

In [36]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [37]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [38]:
def test9(a):
    """this is my function to extract num data from list"""
    
    l=[]
    for i in a:
        if type(i)==list:
            for j in i:
                l.append(j)
                
        else :
            if type(i)==int or type(i)==float :
                
                l.append(i)
                
    return l

In [ ]:
test9()  #create doc string  use shift +tab to see

In [39]:
def test10(a,b):
    return a+b

In [40]:
def test11(*args):
    return args

In [41]:
test11()

()

In [42]:
type(test11())

tuple

In [43]:
test11(2,3,4)

(2, 3, 4)

In [45]:
test11(1,2,3,"sudh","kumar", [1,2,3,4,4,5])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4, 5])

In [46]:
def test12(*sudh):
    return sudh  #arg is whatever int str list etc in this sudh but use by *arg= *sudh

In [47]:
test12(1,2,4,"sudh","pwskills",12.345) # return in triple

(1, 2, 4, 'sudh', 'pwskills', 12.345)

In [48]:
def test13(*args , a):
    return args, a

In [49]:
test13(1,2,3,4 , 23) # confuse what value is args and a then use variable name = value like a= 3

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [50]:
test13(1,2,3,4, a=23) #use this a= 23

((1, 2, 3, 4), 23)

In [51]:
def test14(c,d,a=23,b=1):
    return a,b,c,d

In [52]:
test14() #input c and d then executed otherwise error

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [53]:
test14(3,4)

(23, 1, 3, 4)

In [ ]:
#a,b,c,d

In [54]:
test14(2,5, a=256.67) # overwrite value of a

(256.67, 1, 2, 5)

In [55]:
def test15(**kwargs):
    return kwargs # single * denote int  and double ** denote key value

In [56]:
test15()

{}

In [57]:
type(test15())

dict

In [58]:
test15( a= [1,2,3,4] ,b = "sudh" ,c = 23.45)

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}